

.crmb-card-text {
	height: 2em;
}


.crmb-price-container {	
	width:100%;
	text-align: center;
	
}

.crmb-price {	
	display: inline-block; 
	margin: 0 auto;
}

.crmb-card-title {
	font-size:2em;
	font-weight: bold;
	text-align: center;
}

.crmb-money-sign {
    vertical-align:text-top;
	font-weight: bold;
    float:left;
    padding-top:1.2em;
}

.crmb-money {		
	font-size:3.7em;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
    float:left;
}


.crmb-cents {	
    vertical-align: text-top; 
    text-align: left;
	font-weight: bold;
    float:left;
    padding-top:1.2em;
}

.crmb-uom {
	background-color: green;
    position: absolute;
    bottom: 0px;
	
}


.crmb-form-map {
	height: 80vh;
	z-index: 1;
}

.crmb-map-form {
	z-index: 10;
	margin-top: -30vh;
	
}