.crmb-info {
	width: 150px;
	height: 150px;
	border-width: 10px;
	padding: 35px;
	text-align: center;
	border-radius: 50%;
	border: 20px solid;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 


}

.crmb-border-1 {border-color: #5b78bb;}
.crmb-border-2 {border-color: #3ab073;}
.crmb-border-3 {border-color: #e48f20;}
.crmb-border-4 {border-color: #d51165;}