.st-messaging-actionContainer {
	z-index: 9999;
	position: fixed;
	display: inline-block;
}

.right-messaging-bottom {
	bottom: 1em;
	right: 1em;
	float: right !important;
}

.left-messaging-bottom {
	bottom: 1em;
	left: 1em;
	float: left !important;
}

div.st-messaging-actionContainer li{
	list-messaging-style: none;
}

.st-messaging-panel{
	width:60px;
	padding-left: 5px;
	margin-bottom: 10%;
	display: none;
}


.st-messaging-button-main{
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height:60px;
	cursor:pointer;
	height: 100%;
	width: 100%;
	display: table;
}

.st-messaging-button-main > i{
	display: table-cell;
	vertical-align: middle;
}

.st-messaging-btn-container{
	width:60px;
	height:60px;
	border-radius:100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.st-messaging-button{
	width:50px;
	height:50px;
	border-radius: 50%;
	text-align: center;
    margin-bottom: 10px;
    padding-top: 12px;
}

.st-messaging-button a{
	color:#FFF;
}


.st-whatsapp{
	background-color:#25D366;
}

.st-telegram{
	background-color:#0088CC;
}

.st-facebook{
	background-color:#3B5998;
}

.st-phone{
	background-color:#FFCC00;
}

.rotateForward{
    animation-name:             rotateF;
    animation-duration:         0.65s;
    animation-iteration-count:  1;

}

@keyframes rotateF {
  from {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
  }
  to {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
  }
}

.rotateBackward{
    animation-name:             rotateB;
    animation-duration:         0.65s;
    animation-iteration-count:  1;

}

@keyframes rotateB {
  from {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
  }
  to {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
  }
}



