.s-lp-video_cover {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.s-lp-video_cover video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.s-lp-video_cover .container {
  position: relative;
  z-index: 2;
}

.s-lp-video_cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .s-lp-video_cover {
    background: url('/website_caramba_snippets/static/src/img/blue.png') black no-repeat center center scroll;
  }
  .s-lp-video_cover video {
    display: none;
  }
}

.crmb-info {
	width: 150px;
	height: 150px;
	border-width: 10px;
	padding: 35px;
	text-align: center;
	border-radius: 50%;
	border: 20px solid;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

.crmb-border-1 {border-color: #5b78bb;}
.crmb-border-2 {border-color: #b3b417;}
.crmb-border-3 {border-color: #e48f20;}
.crmb-border-4 {border-color: #6c4f9f;}

.crmb-tg-p  {
	height: 390px;
	padding: 45px 8px 8px 8px;
	color:White;

}
.crmb-tg-h  {
	height: 60px;
	background-color: White;	

}

.crmb-tg-h2  {
	height: 60px;
	padding: 8px;
	display: table;
    text-transform: uppercase;
	}

.crmb-tg-h2 h4 {
    display: table-cell;
    vertical-align: middle;

}

.crmb-tg-b2 {
	display: table;
	height: 230px;
	text-align: center;
	margin: auto;

	}


.crmb-tg-b2 span {
    display: table-cell;
    vertical-align: middle;

}


.crmb-tg-b  {
	height: 95px;
	width: 95px;
	border-radius: 50%;
	background-color: White;
  	position: relative;
  	z-index:10;
  	margin:auto;
}

.crmb-tg-n  {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	text-align: center;
	margin: auto;
  	position: relative;
  	z-index:20;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
	display: table;
}

.crmb-tg-n h4 {
	color:White;
    display: table-cell;
    vertical-align: middle;

}

 .crmb-tg-c01 {background-color:#5b78bb}
 .crmb-tg-c02 {background-color:#2e7cc3}
 .crmb-tg-c03 {background-color:#219ed7}
 .crmb-tg-c04 {background-color:#10a3c0}
 .crmb-tg-c05 {background-color:#27b49a}
 .crmb-tg-c06 {background-color:#3ab073}
 .crmb-tg-c07 {background-color:#46aa37}
 .crmb-tg-c08 {background-color:#81af33}
 .crmb-tg-c09 {background-color:#a2bc23}
 .crmb-tg-c10 {background-color:#b3b417}
 .crmb-tg-c11 {background-color:#e48f20}
 .crmb-tg-c12 {background-color:#ef6527}
 .crmb-tg-c13 {background-color:#e94c2d}
 .crmb-tg-c14 {background-color:#e72710}
 .crmb-tg-c15 {background-color:#cd1a1d}
 .crmb-tg-c16 {background-color:#d51165}
 .crmb-tg-c17 {background-color:#c01d82}
 .crmb-tg-c18 {background-color:#9f1d67}
 .crmb-tg-c19 {background-color:#72387c}
 .crmb-tg-c20 {background-color:#6c4f9f}