
.crmb-down {
		  width: 50px;
		  height: 50px;
          background-color: rgba(black, 0.5);
          text-align: center;
          padding-top: 4px;
          animation-name: crmb-down-animation;
          animation-duration: 4s;
          animation-delay: 2s;
          animation-iteration-count: infinite;
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          &:hover {
                    animation-name: crmb-down-animation-over;
                   animation-duration: 2s;
				}
}

@keyframes crmb-down-animation {
  0% {background-color: rgba(black, 0.5);}
  50% {background-color: $primary;}
  100% {background-color: rgba(black, 0.5);}
	
}

@keyframes crmb-down-animation-over {
	0% {background-color: rgba(black, 0.5);}
  100% {background-color: rgba(black, 0.7);}
}

.s-lp-video_cover {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.s-lp-video_cover video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.s-lp-video_cover .container {
  position: relative;
  z-index: 2;
}

.s-lp-video_cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .s-lp-vc1 {
    background: url('/website_caramba_snippets/static/src/img/video_cover.png') black no-repeat center center scroll;
  }
  .s-lp-vc1 {
    display: none;
  }
  .s-lp-vc2 {
    background: url('/website_caramba_snippets/static/src/img/video_cover2.png') black no-repeat center center scroll;
  }
  .s-lp-vc2 {
    display: none;
  }
  .s-lp-vc3 {
    background: url('/website_caramba_snippets/static/src/img/video_cover3.png') black no-repeat center center scroll;
  }
  .s-lp-vc3 {
    display: none;
  }
  .s-lp-vc4 {
    background: url('/website_caramba_snippets/static/src/img/video_cover4.png') black no-repeat center center scroll;
  }
  .s-lp-vc4 {
    display: none;
  }
}
  .s-lp-vc5 {
    background: url('/website_caramba_snippets/static/src/img/video_cover5.png') black no-repeat center center scroll;
  }
  .s-lp-vc5 {
    display: none;
  }

.crmb-100h {	
    height: 90vh;
    overflow: auto;
}

.crmb-header {	
	padding-top: 15%;
}


.crmb-social {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.crmb-info {
	width: 150px;
	height: 150px;
	border-width: 10px;
	padding: 35px;
	text-align: center;
	border-radius: 50%;
	border: 20px solid;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

.crmb-border-1 {border-color: #5b78bb;}
.crmb-border-2 {border-color: #3ab073;}
.crmb-border-3 {border-color: #e48f20;}
.crmb-border-4 {border-color: #d51165;}

.crm-tg {
	border-radius: 20px 20px 0 0;
}

.crmb-tg-p  {
	height: 300px;
	display: table;
	padding: 45px 8px 8px 8px;
	color:White;

}

.crmb-tg-p h6 {
	text-align: center;
	text-transform: uppercase ;	
	display: table-header-group;
	width: 100%;
}

.crmb-tg-p p {
	display: table-cell;
	vertical-align: middle;

	}
	


.crmb-tg-h  {
	height: 60px;

}

.crmb-tg-h2  {
	height: 60px;
	padding: 8px;
	display: table;
    text-transform: uppercase;
	}

.crmb-tg-h2 h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.crmb-tg-b2 {
	display: table;
	height: 230px;
	text-align: center;
	margin: auto;

	}


.crmb-tg-b2 span {
    display: table-cell;
    vertical-align: middle;

}


.crmb-tg-b  {
	height: 95px;
	width: 95px;
	border-radius: 50%;
	background-color: White;
  	position: relative;
  	z-index:10;
  	margin:auto;
}

.crmb-tg-n  {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	text-align: center;
	margin: auto;
  	position: relative;
  	z-index:20;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
	display: table;
}

.crmb-tg-n h4 {
	color:White;
    display: table-cell;
    vertical-align: middle;

}

 .crmb-tg-c01 {background-color:#5b78bb}
 .crmb-tg-c02 {background-color:#2e7cc3}
 .crmb-tg-c03 {background-color:#219ed7}
 .crmb-tg-c04 {background-color:#10a3c0}
 .crmb-tg-c05 {background-color:#27b49a}
 .crmb-tg-c06 {background-color:#3ab073}
 .crmb-tg-c07 {background-color:#46aa37}
 .crmb-tg-c08 {background-color:#81af33}
 .crmb-tg-c09 {background-color:#a2bc23}
 .crmb-tg-c10 {background-color:#b3b417}
 .crmb-tg-c11 {background-color:#e48f20}
 .crmb-tg-c12 {background-color:#ef6527}
 .crmb-tg-c13 {background-color:#e94c2d}
 .crmb-tg-c14 {background-color:#e72710}
 .crmb-tg-c15 {background-color:#cd1a1d}
 .crmb-tg-c16 {background-color:#d51165}
 .crmb-tg-c17 {background-color:#c01d82}
 .crmb-tg-c18 {background-color:#9f1d67}
 .crmb-tg-c19 {background-color:#72387c}
 .crmb-tg-c20 {background-color:#6c4f9f}
 
 
 ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $info;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}
.main-timeline{position:relative}
.main-timeline:before{content:"";width:5px;height:100%;border-radius:20px;margin:0 auto;background:#242922;position:absolute;top:0;left:0;right:0}
.main-timeline .timeline{display:inline-block;margin-bottom:50px;position:relative}
.main-timeline .timeline:before{content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:$primary;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}
.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid $primary;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:$primary;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:$primary;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:#fff;top:89px;right:-30px}
.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid $primary;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:$primary;position:absolute;top:13px;left:0}
.main-timeline .title{font-size:20px;font-weight:600;color:$primary;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:16px;color:#404040;line-height:20px;letter-spacing:1px;margin:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:$secondary}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:$secondary}
.main-timeline .timeline:nth-child(2n) .title{color:$secondary}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:$secondary;border-bottom-color:$secondary}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:$success}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:$success}
.main-timeline .timeline:nth-child(3n) .title{color:$success}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:$success;border-bottom-color:$success}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:$info}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:$info}
.main-timeline .timeline:nth-child(4n) .title{color:$info}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:$info;border-bottom-color:$info}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}

.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;margin-top:-79px}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:$primary;border-right-color:$primary;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year{display:block;width:110px;height:110px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:30px;font-weight:700;color:$primary;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content{width:35%;float:right;background:$primary;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:$primary;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:$secondary;border-right-color:$secondary}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color:$secondary}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:$secondary}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:$success;border-right-color:$success}
.main-timeline5 .timeline:nth-child(3n) .year{color:$success}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:$success}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:$info;border-right-color:$info}
.main-timeline5 .timeline:nth-child(4n) .year{color:$info}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:$info}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
.main-timeline5 .timeline-content:before{left:-18%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-127px}
.main-timeline5 .timeline-content:before{left:-2%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
.main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
.main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}


@include media-breakpoint-only(xs) { 
	.crmb-tg-p h6 {font-size: 18px;}
	.crmb-tg-p p {font-size: 17px;}
}
@include media-breakpoint-only(sm) { 
	.crmb-tg-p h6 {font-size: 14px;}
	.crmb-tg-p p {font-size: 13px;}
}
@include media-breakpoint-only(md) { 
	.crmb-tg-p h6 {font-size: 12px;}
	.crmb-tg-p p {font-size: 11px;}
	
}
@include media-breakpoint-only(lg) { 
	.crmb-tg-p h6 {font-size: 12px;}
	.crmb-tg-p p {font-size: 11px;}
}
@include media-breakpoint-only(xl) { 
	.crmb-tg-p h6 {font-size: 14px;}
	.crmb-tg-p p {font-size: 13px;}
}
